<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>Display Trips For <%- email %> </h1>
	<div>
		<%- itemsTable %>
	</div>
	<a href="/">HOME</a></li>
</body>

</html>