<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Trip Planner</title>
</head>

<body>
	<h1>Weclome to Terps Trip Planner</h1>
    <ul>
        <li>To plan a trip select <a href="/plan">Plan</a></li>
        <li>To view planned trips select <a href="/view">View Trips</a></li>
        <li>To check the weather for a specific place and time <a href="/weather-checker">Weather Checker</a></li>
    </ul>

    <h2>For Admin Only</h2>
    <a href="/remove">Clear all trips</a>
</body>

</html>