<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>remove</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Removal of All Trips</h1>
	<p>
        All trips have been removed from the database. Number of Trips Removed: <%- count %>
    </p>
	<a href="/">HOME</a></li>
</body>

</html>