<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>View</title>
</head>

<body>
	<h1>View Trips</h1>
	<form action="/view" method="post">
		<fieldset>
			<label>Email Address: <input type="email" name="email"  placeholder="example@notreal.notreal"></label>
            <br><br>  
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="View"/>
	</form>
	<hr>
	<a href="/">HOME</a></li>
</body>

</html>
